/* carousel.css */

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .carousel {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: none;
    width: 100%;
    transition: opacity 0.5s ease; /* Add transition for opacity */
  }
  .carousel-slide.active {
    display: block;
    opacity: 1;
}
  
  .carousel-slide img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    transform: translateY(-50%);
  }
  
.carousel-control:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.next::after {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap; /* Prevents the text from wrapping */
}

